<table>
  <colgroup>
    <col ngClass="fit" />
    <col ngClass="fit" />
    <col />
    <col />
    <col />
    <col ngClass="fit" />
  </colgroup>
  <div *ngIf="brands.length === 0">No result found!</div>
  <tr *ngFor="let brand of brands">
    <td>
      <label class="checkbox-container">
        <input ngClass="checkbox" type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </td>
    <td>
      <div [ngClass]="{ 'logo-wrapper': true, active: brand.status }">
        <img ngClass="logo-image" [src]="brand.logo" alt="brand-logo" />
      </div>
    </td>
    <td>
      <div ngClass="brand-info-container">
        <h2>{{ brand.name }}</h2>
        <div ngClass="brand-info-wrapper">
          <span ngClass="brand-info-text">{{ brand.description || "" }}</span>
          <div ngClass="brand-info-divider"></div>
          <span ngClass="brand-number-models"
            >{{ brand.numberOfModels }} Models</span
          >
        </div>
      </div>
    </td>
    <td>
      <div ngClass="update-date-text">Last Update</div>
      <span>{{ brand.updateAt | date: "dd/MM/YYYY" }}</span>
    </td>
    <td>
      <div [ngClass]="{ 'status-container': true, active: brand.status }">
        <div ngClass="status-dot"></div>
        {{ brand.status ? "Active" : "Inactive" }}
      </div>
    </td>
    <td>
      <app-button type="outline" (handleClick)="navigateToDetails(brand.id)">
        View Details
      </app-button>
    </td>
  </tr>
</table>
