<table>
  <colgroup>
    <col ngClass="fit" />
    <col ngClass="fit" />
    <col />
    <col />
    <col />
    <col ngClass="fit" />
  </colgroup>
  <tr>
    <td>
      <label class="checkbox-container">
        <input ngClass="checkbox" type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </td>
    <td>
      <div ngClass="logo-wrapper">
        <img
          ngClass="logo-image"
          src="assets/images/ucars-logo.png"
          alt="brand-logo"
        />
      </div>
    </td>
    <td>
      <div ngClass="brand-info-container">
        <h2>Toyota</h2>
        <div ngClass="brand-info-wrapper">
          <span ngClass="brand-info-text"
            >asdas asdas dasdas asdfsdf ssdfsdf sd sdfs df</span
          >
          <div ngClass="brand-info-divider"></div>
          <span ngClass="brand-number-models">1200 Models</span>
        </div>
      </div>
    </td>
    <td>
      <div ngClass="update-date-text">Last Update</div>
      <span>{{ today | date: "dd/MM/YYYY" }}</span>
    </td>
    <td>
      <div [ngClass]="{ 'status-container': true, active: true }">
        <div ngClass="status-dot"></div>
        Active
      </div>
    </td>
    <td>
      <app-button type="outline"> View Details </app-button>
    </td>
  </tr>
  <tr>
    <td>
      <label class="checkbox-container">
        <input ngClass="checkbox" type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </td>
    <td>
      <div ngClass="logo-wrapper">
        <img
          ngClass="logo-image"
          src="assets/images/ucars-logo.png"
          alt="brand-logo"
        />
      </div>
    </td>
    <td>
      <div ngClass="brand-info-container">
        <h2>Toyota</h2>
        <div ngClass="brand-info-wrapper">
          <span ngClass="brand-info-text"
            >asdas asdas dasdas asdfsdf ssdfsdf sd sdfs df</span
          >
          <div ngClass="brand-info-divider"></div>
          <span ngClass="brand-number-models">1200 Models</span>
        </div>
      </div>
    </td>
    <td>
      <div ngClass="update-date-text">Last Update</div>
      <span>{{ today | date: "dd/MM/YYYY" }}</span>
    </td>
    <td>
      <div [ngClass]="{ 'status-container': true, active: true }">
        <div ngClass="status-dot"></div>
        Active
      </div>
    </td>
    <td>
      <app-button type="outline"> View Details </app-button>
    </td>
  </tr>
  <tr>
    <td>
      <label class="checkbox-container">
        <input ngClass="checkbox" type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </td>
    <td>
      <div ngClass="logo-wrapper">
        <img
          ngClass="logo-image"
          src="assets/images/ucars-logo.png"
          alt="brand-logo"
        />
      </div>
    </td>
    <td>
      <div ngClass="brand-info-container">
        <h2>Toyota</h2>
        <div ngClass="brand-info-wrapper">
          <span ngClass="brand-info-text"
            >asdas asdas dasdas asdfsdf ssdfsdf sd sdfs df</span
          >
          <div ngClass="brand-info-divider"></div>
          <span ngClass="brand-number-models">1200 Models</span>
        </div>
      </div>
    </td>
    <td>
      <div ngClass="update-date-text">Last Update</div>
      <span>{{ today | date: "dd/MM/YYYY" }}</span>
    </td>
    <td>
      <div [ngClass]="{ 'status-container': true, active: true }">
        <div ngClass="status-dot"></div>
        Active
      </div>
    </td>
    <td>
      <app-button type="outline"> View Details </app-button>
    </td>
  </tr>
</table>
