ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-secondary);
}

.sidebar-container {
  position: fixed;
  padding: 22px 16px;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%;
  background-color: var(--background-nav);
  z-index: 2;
  color: var(--text-secondary);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 22.6px;
  transition: width 200ms;

  &.collaped {
    .toggle-button {
      transform: rotate(180deg);
    }
  }
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
  margin-bottom: 46px;
}

.toggle-button {
  cursor: pointer;
}

.nav-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav-item {
  padding: 14px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 16px;
  border-radius: 6px;
  transition: all ease 200ms;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    background-color: var(--primary-hover);
  }

  &.active {
    background-color: var(--primary);
    color: var(--white);
  }

  .arrow {
    transition: all ease 100ms;
  }

  &.collaped {
    .arrow {
      transform: rotate(180deg);
    }
  }
}

.nav-item-title {
  flex: 1;
}

.children-wrapper {
  position: relative;
  padding-left: 20px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    margin: 25px 0;
    height: calc(100% - 50px);
    background: var(--text-secondary);
  }
}

.last-nav {
  padding-top: 16px;
  border-top: 1px solid var(--text-secondary);
}

.content-container {
  margin-left: 240px;
}

.main-content {
  padding: 29px 24px;
}
