.header-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
  border-bottom: 1px solid var(--gray2);
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    cursor: pointer;
  }
}

.user-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--gray3);
}
